@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply m-0 p-0 font-noto-sans antialiased;
    @apply bg-base-white text-text-color;
  }
}

@layer utilities {
  .glass-morphism {
    @apply backdrop-blur-md bg-glass-color;
    @apply border border-white/20;
  }
}
